---
import Page from "../layouts/Page.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/utils/FormattedDate.astro";
import { render } from "astro:content";
import Card from "../components/utils/Card.astro";

const jobs = await Promise.all(
  (await getCollection("jobs"))
    .sort((a, b) => b.data.start.valueOf() - a.data.start.valueOf())
    .map(async (post) => {
      const rendered = await render(post);
      return {
        ...post,
        Content: rendered.Content,
      };
    }),
);
const education = await Promise.all(
  (await getCollection("education"))
    .sort((a, b) => b.data.start.valueOf() - a.data.start.valueOf())
    .map(async (post) => {
      const rendered = await render(post);
      return {
        ...post,
        Content: rendered.Content,
      };
    }),
);
---

<!doctype html>
<Page title="" description="Lorem ipsum dolor sit amet">
  <section>
    <h2>Experiences</h2>
    <ul>
      {
        jobs.map((el) => (
          <li>
            <Card>
              <div slot="header">
                <h4>{el.data.title}</h4>
                <h5>
                  (
                  <FormattedDate date={el.data.start} /> {" - "}
                  {el.data.end ? (
                    <FormattedDate date={el.data.end} />
                  ) : (
                    "Present"
                  )}
                  )
                </h5>
                <h5>{el.data.istitution} </h5>
              </div>
              <el.Content />
              <h5 style="right:0">{el.data.place}</h5>
            </Card>
          </li>
        ))
      }
    </ul>
  </section>
  <section>
    <h2>Education</h2>
    <ul>
      {
        education.map((el) => (
          <li>
            <Card>
              <div slot="header">
                <h4>{el.data.title}</h4>
                <h5>
                  (
                  <FormattedDate date={el.data.start} /> {" - "}
                  {el.data.end ? (
                    <FormattedDate date={el.data.end} />
                  ) : (
                    "Present"
                  )}
                  )
                </h5>
                <h5>{el.data.istitution} </h5>
              </div>
              <el.Content />
              <h5 style="right:0">{el.data.place}</h5>
            </Card>
          </li>
        ))
      }
    </ul>
  </section>

  <main class="pdf-container">
    <!-- <p>Here's a preview of the document:</p> -->
    <!-- <iframe src="/curriculum.pdf" title="My PDF Document" frameborder="0"
    ></iframe> -->
    <a class="download-link" href="/curriculum.pdf" download="curriculum.pdf">
      Download PDF
    </a>
  </main>

  <style>
    .pdf-container {
      text-align: center;
      padding: 20px;
    }
    iframe {
      width: 100%; /* Make the iframe fill its container */
      height: 800px; /* Adjust height as needed */
      border-radius: 10px;
    }
    .download-link {
      display: inline-block;
      padding: 10px 20px;
      background-color: #505050;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }
    .download-link:hover {
      background-color: #000000;
    }

    ul li {
      font-size: 20px;
      padding-bottom: 1em;
    }
  </style>
</Page>
