---
import Link from "../utils/Link.astro";
import { SITE_TITLE } from "../../consts";
import DropdownMenu from "./DropdownMenu.astro";

const { class: className, ...props } = Astro.props;

const pages = [
  { name: "About", href: "/" },
  { name: "Projects", href: "/projects" },
  { name: "Curriculum", href: "/curriculum" },
];
---

<header class={className}>
  <Link href="/">{SITE_TITLE}</Link>
  <div class="internal-links-desktop">
    {pages.map((page) => <Link href={page.href}>{page.name}</Link>)}
  </div>
  <div class="internal-links-mobile">
    <DropdownMenu pages={pages} />
  </div>
</header>

<!-- <ThemeToggle class="theme-toggle" /> -->
<style>
  /*  Generic Configuration */
  header {
    display: flex;
    align-items: center;
    padding: 1em;
    background: var(--bg-secondary);
  }

  a {
    color: var(--accent);
    font-size: 1em;
    font-weight: bolder;
  }
  a:hover {
    color: var(--accent-hover);
  }

  /* Positions */
  div {
    display: block;
    position: absolute;
    right: 1em;
  }

  .internal-links-mobile {
    display: none;
    position: absolute;
    right: 1em;
  }

  .internal-links-desktop a {
    padding: 1em;
  }

  @media (max-width: 700px) {
    .internal-links-desktop {
      display: none;
    }
    .internal-links-mobile {
      display: block;
    }
  }

  /* Title */
  /* .theme-toggle {
    position: absolute;
    left: 99%;
    font-size: 1rem;
  } */
</style>
